* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

textarea:focus,
input:focus,
select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.container-body {
    width: 100%;
    height: 100vh;
}

.container-body>.container-header {
    position: fixed;
    right: 0;
    z-index: 2000;
    width: 100%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 4px 3px rgba(255, 255, 255, 0.2);
    color: #c4bdbd;
}

.container-body>.container-sidebar {
    position: fixed;
    padding-top: 10%;
    width: 13%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    float: left;
}

.container-body>.container-content {
    width: 87%;
    height: auto;
    background-color: rgb(83, 83, 83);
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fas {
    display: block;
    font-size: 30px;
    margin: 40px 0 10px 0;
}

.side-boxes {
    color: rgb(110, 103, 103);
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    cursor: pointer;
    margin-top: 10px;
}

.side-boxes>.description {
    font-size: 16px;
    font-family: roboto;
}

.container-content>.container-modal-finan {
    width: 100%;
    height: 100%;
    background-color: rgb(218, 218, 218);
    padding-bottom: 40px;
    padding-top: 10%;
}

.container-content>.container-modal-finan>h2 {
    color: rgb(110, 103, 103);
    font-size: 36px;
    font-family: roboto;
    margin: 10px 0 0 25px;
}

.tableFinan {
    width: 90%;
    background-color: rgb(255, 255, 255);
    height: 90%;
    margin: 50px 0 0 30px;
    box-shadow: 10px 5px 5px black;
}

.tableFinan>thead {
    background-color: midnightblue;
    margin-left: 50px;
    -webkit-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
    box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.77);
}

.tableFinan>thead>tr>th {
    height: 60px;
    width: 20%;
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-family: roboto;
}

.tableFinan>tbody>tr>td {
    height: 60px;
    width: 20%;
    font-size: 16px;
    color: rgb(110, 103, 103);
    font-family: roboto;
    text-align: center;
    cursor: pointer;
}

.container-user-header {
    float: right;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
}

.container-user-header>span {
    font-size: 30px;
    margin: 0.5em 0.6em 0 0;
    color: white;
}

.container-user-header>#name-user {
    color: rgb(110, 103, 103);
    font-family: roboto;
}

#user-icon {
    padding: 5px;
    border-radius: 20%;
    background-color: midnightblue;
    font-size: 1.9em;
}

.container-pdf {
    width: 100%;
    height: auto;
    position: absolute;
    background-color: gray;
    float: left;
    display: none;
}

.container-pdf>.header-pdf {
    width: 100%;
    height: 10vh;
    background-color: gray;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    align-content: flex-start;
    justify-content: flex-end;
}

.container-pdf>.header-pdf>button {
    background-color: gray;
    color: white;
    font-size: 36px;
    margin: 0 0 30px 0;
    display: block;
    margin: 10px;
}

.container-pdf>div {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-pdf>div>object {
    width: 90%;
    height: 110vh;
}

.print-file {
    color: rgb(110, 103, 103);
    background-color: transparent;
    cursor: pointer;
    margin: 10px 0 10px 0;
}

.tableFinan>tbody>tr {
    border-bottom: 1px solid black;
}
